/* In this file are media queries included */
@media (max-width: 1500px) {
  .about-story-text-1,
  .about-story-img,
  .contact-info-img,
  /* .contact-info-form-and-text { */
    {grid-column: span 2;
  }
}

@media (max-width: 1200px) {
  .about-welcome-img,
  .about-welcome-text,
  .about-story-text-1,
  .about-story-img {
    grid-column: span 2;
  }

  .contact-info-text,
  .contact-form{
    grid-column: span 2;
  }
}

@media (max-width: 1100px) {
  .blog-post-intro h1,
  .blog-post-text,
  .slider,
  .welcome,
  .about-welcome,
  .about-story,
  .posts,
  .intro-container,
  .collaborate-container,
  .footer {
    width: 80vw;
  }
}

@media (max-width: 950px) {
  .welcome-text,
  .welcome-img,
  .post-container {
    grid-column: span 2;
  }

  .hamburger {
    display: block;
  }
  .bar {
    color: var(--text-color-nav);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header {
    padding: 0 30px 0 20px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    align-items: center;
    transition: 0.4s;
    background-color: rgba(247, 247, 247, 1);
    gap: 0;
    padding: 0 20px;
  }
  .nav-menu-link {
    margin: 50px auto 0px;
  }
  header img {
    width: 150px;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 750px) {
  .nav-footer a {
    padding-bottom: 0px;
  }


  footer {
    font-size: 1rem;
  }

  #newsletter-fieldset {
    width: 80vw;
  }

  .blog-post-intro h1,
  .blog-post-text,
  .slider,
  .welcome,
  .about-welcome,
  .about-story,
  .posts,
  .intro-container,
  .collaborate-container,
  .contact-inf,
  .footer {
    width: 90vw;
  }

  .footer{
    justify-content: center;
  }

  .posts{
    gap: 50px;
  }
}
