/* In this file  are colour and typography included. */

:root {
  --background-header-footer: rgba(237, 240, 242, 1);
  --background-nav-mobile: rgba(247, 247, 247, 1);
  --background-color-newsletter: rgba(221, 225, 220, 1);
  --background-text: rgba(255, 255, 255, 1);
  --text-color-nav: rgba(22, 30, 38, 1);
  --picture-overlay-green: rgba(154, 166, 151, 0.9);
  --picture-overlay-blue: rgba(79, 93, 107, 0.87);
  --dark-button-color: rgba(37, 51, 64, 1);
  --dark-button-color-hover: rgba(37, 51, 64, 0.8);
  --dark-button-text-color: rgba(237, 240, 242, 1);
  --light-button-color: rgba(255, 255, 255, 1);
  --light-button-color-hover: rgba(238, 239, 237, 1);
  --text-color-heading-blue: rgba(44, 61, 77, 1);
  --text-color-blue: rgba(22, 30, 38, 1);
  --text-color-heading-green: rgba(31, 33, 30, 1);
  --text-color-green: rgba(31, 33, 30, 1);
  --form-text-color: rgba(72, 72, 72, 1);
  --form-frame-color: rgba(72, 72, 72, 1);
  --form-background-color: rgba(255, 255, 255, 1);
  --line-color: rgba(79, 93, 107, 1);
  --font-fallback-roboto: "Open Sans", "Helvetica Neue", sans-serif;
}

header,
footer {
  background-color: var(--background-header-footer);
}

nav,
footer ul {
  color: var(--text-color-nav);
  font-family: Roboto, var(--font-fallback-roboto);
  text-transform: uppercase;
  font-weight: 300;
}
nav {
  font-size: 1.5rem;
}
footer {
  font-size: 1.3rem;
}

.copyright {
  color: var(--text-color-blue);
  font-size: 0.9rem;
}

body {
  font-family: Lora, serif;
}

.featured-blogpost-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.intro,
.collaborate {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, var(--picture-overlay-blue), var(--picture-overlay-blue)),
    url(../images/bgd-image-flowers.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  overflow: hidden;
}

.intro-container,
.collaborate-container {
  background-color: var(--background-text);
}
h1,
h2 {
  color: var(--text-color-heading-blue);
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
}

h1 {
  font-size: 2rem;
}

p {
  color: var(--text-color-blue);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.cta {
  background-color: var(--dark-button-color);
  color: var(--dark-button-text-color);
  text-transform: uppercase;
  font-family: Roboto, var(--font-fallback-roboto);
  font-size: 1.1rem;
}

.newsletter{
    background-color: var(--background-color-newsletter);
}

.newsletter h2