/* In this file is styling for loader, error handling, navigation, header and footer included */



/* Loader from https://css-loaders.com/dots/ */
/* HTML: <div class="loader"></div> */
:root {
  --text-color-heading-blue: rgba(44, 61, 77, 1);
}

.loader {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

.error



.nav-menu-link:hover{
  color: var(--text-color-heading-blue);
  opacity: 0.8;
 }

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  background-color: black;

}